<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>수정하기</h1>
    <form action="{% url "users:update" book.pk %}" method="POST">
        {% csrf_token %}
        <div>   
            <label for="title">책 제목 : </label>
            <input type="text" name="title" id="title" value="{{  book.title }}"/>
        </div>
        <div>
            <label for="status">완독 여부 : </label>
            <input type="text" name="status" id="status" value="{{  book.status }}"/>
        </div>
        <div>
            <label for="rating">별점 : </label>
            <input type="text" name="rating" id="rating" value="{{  book.rating }}"/>
        </div>
        <div>
            <label for="review">리뷰: </label>
            <textarea name="review" id="review" >{{  book.review }}</textarea>
        </div>
      
      <input type="submit" />
    </form>

    <hr />

    <a href="{% url 'users:index' %}">[back]</a>
  </body>
</html>
