<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>내 서재</h1>
    <hr />
    {% for book in books %}
    <p><a href = "{% url "users:detail" book.pk %}">책 제목: {{ book.pk }}</a></p>
    <p>완독 여부: {{ book.status }}</p>
    <p>별점: {{ book.rating }}</p>
    <p>리뷰: {{ book.review }}</p>
    <hr />
    {% endfor %}
    <a href="{% url 'users:new' %}">[new]</a>
  </body>
</html>
