<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
  <h2>{{ book.pk }} 번째 글</h2>
  <hr>
  <p>제목: {{ book.title }}</p>
  <p>별점: {{ book.stars }}</p>
  <p>작성일: {{ book.created_at }}</p>
  <p>수정일: {{ book.updated_at }}</p>
  <hr>
  <a href="{% url "books:edit" book.pk %}">수정하기</a><br>
  <form action="{% url "books:delete" book.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
  <a href="{% url "books:index" %}">[메인 페이지로]</a>
</body>
</html>
