<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>메인 페이지</h1>
  <a href="{% url "books:new" %}">NEW</a>
  <hr>
  {% comment %} 전체 게시글 출력 {% endcomment %}
  {% for book in books %}
    <div>
      <p>번호: {{ book.pk }}</p>
      <p>
        제목: <a href="{% url "books:detail" book.pk %}">{{ book.title }}</a>
      </p>
      <p>별점: {{ book.stars }}</p>
    </div>
    <hr>
  {% endfor %}
</body>
</html>
